/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h1,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0 0 0 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;
}
h1,h1,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/*  Font Support
 * ---------------------------------------*/

/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Regular'), local('Barlow-Regular'),
       url('fonts/barlow-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-v1-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}
/* barlow-500 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/barlow-v1-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Barlow Medium'), local('Barlow-Medium'),
       url('fonts/barlow-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/barlow-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/barlow-v1-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/barlow-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/barlow-v1-latin-500.svg#Barlow') format('svg'); /* Legacy iOS */
}



/* Custom CSS
 * --------------------------------------- */


/*basics*/
body {
    background-color: #d6d6d6;
    font-family: 'Ubuntu', sans-serif;
}
p:nth-child(1) {
    padding-top: 3.5em;
}
a, a:visited { 
    text-decoration: none; 
    color: darkgrey; 
    cursor: pointer;
}
a:hover { 
    text-decoration: none; 
    color: #1a1a1a; 
}
a:focus, a:active { 
    text-decoration: none; 
    color: darkgray; 
}
hr {
    clear: both;
    border: none;
}
p {
    padding:.3em 2.5em 1.5em 5%;
    line-height: 1.5;
    font-size: .9em;
}
li{
    font-size: .9em;
    list-style: circle;
    padding-left: 5%;
}
h1 { 
    width:100%; 
    margin-bottom: 1em;
    color: #cecece;
    font-size: .95em;
}
.problem-box li {
    list-style: none;
    padding: .2em;
    padding-left: 10%;
}
.problem-box p {
    padding-left: 10%;
}
.problem-box p:nth-child(1) {
    padding-top: 2em;
     color: #808285;
    font-size: 1em;
}
.problem-box h3{
    color: #8bc441;
    padding: .2em 0;
    font-size: 2em;
}
.problem-box h4{
    padding-top: 2em;
    color: #808285;
}
h2{
    width:100%; 
    margin-bottom: 1em;
    margin-left: 5%;
    color: #1a1a1a;
    font-size: 1.5em;
}
h3{
    text-align: center; 
    width: 100%; 
    margin-bottom: .2em;
    color: #1a1a1a;
    font-size: 1.5em;
    font-weight: 700;
}
h4{
    text-align: center; 
    width: 100%; 
    margin-bottom: .2em;
}
input, textarea, button{
    background-color: #ebebeb; 
    outline: none; 
    text-decoration: none; 
    border:none; 
    padding: .5em; 
    border-radius: 0;
}
button a:visited{
    color:#1a1a1a;
}
input, textarea{
    width:50%;
}
footer p, footer a, footer a:visited, footer li{
    margin-left: 5%;
    color: #3a3a3c;
    font-size: .9em;
    list-style: none;
}
iframe{
    display: block;
}
.social, .social2 {
    width: 30%;
    max-width: 50px;
    margin-left: 5%;
    background-color: #686868;
    border-radius: 50%;
    float: right;
}
.social:hover{
      background: #24292e; 
}
.social2:hover{
    background-color: #0077b5;
}

/*header*/
#design h4{
    font-size: .9em;
    color: #cecece;
    margin-top: -2em;
    margin-bottom: 2em;
}
.top-bar{
    padding-top: 1.5em;
    padding-bottom: 10em;
}
.top-bar a{
    padding: 0 1em;
    color: #d6d6d6;
}
.top-bar, .top-about, footer {
    background:#1a1a1a;
    width: 100%;
    top:0;
    position: fixed;
    z-index: -2;
    outline: none;
    font-size: 1em;
    overflow: auto;
}
footer{
    bottom:0;
    padding-top: 2em;
    padding-bottom: 4em;
    top:auto;
    background: #d6d6d6;
}
footer .wrapper{
    overflow: visible;
}
.right-social, .social-about{
    float: right;
    text-align: right;
    padding-top: 0;
    margin-right: 5%;
    width:50%;
    color:#1a1a1a;
    margin-bottom: -2em;
}
.left-social{
    width:40%; margin-left:5%;
}
.right-social a{
    font-weight: 400;
}

/*common classes*/
.white-bg{
    background: white;
}
.black-bg{
    background: #1a1a1a;
}
.w3-badge{
    display: inline-block;
    background-color:#000;
    color:#fff;
    padding-left:8px;
    padding-right:8px;
    text-align:center; 
    border-radius:50%;
    height:20px;
    width:20px;
    padding:0; 
    margin: 0, 0; 
    border:1px solid #ccc!important; 
    background-color:transparent!important;
}
.w3-badge:hover{
    color:#000!important;
    background-color:#d6d6d6!important;
}
.center-circles{
    position: absolute;
    margin-top: .3em;
    left: 0;
    right: 0;
    text-align: center;
}
.white-circle {
    color:#ebebeb!important;
    background-color:#d6d6d6!important;
}
audio{
    align-content: center;
    text-align: center;
}
.top, .top-project{
    margin-bottom: 8em;
}
.top-project{
    margin-top: 4em;
}
.bg{
    width:100%;
    background-color: #212121;
}
.gap {
    height:2em; 
    width:100%;
    float:left;
}
.gap-medium{
    height:5em; 
    width:100%;
    float:left;
}
.gap-big {
    height:8em; 
    width:100%;
    float:left;
}
.eighty-ninety {
    width:80%; 
    margin-left:10%;
}
.sixty-ninety{
    width:60%; 
    margin-left:20%;
}
.fifty-hundred {
    width:50%;
    float:left;
    overflow: hidden;
}
.hundred-ninety, .hundred, .hundred2 {
    width:100%; 
    float:left;
}
.hundred2 {
    float: none;
    margin-bottom: -1em;
}
#thirty-sixty, #galogo {
    width:30%;  
    float:left;
    margin-left: 7%;
}
.fifty-left, .fifty-right, #per-analysis {
    width:47.5%;
    float:left;
}
.fifty-right {
    margin-left: 5%;
}
.forty-left, .forty-right {
    float: left;
    width:37.5%;
    margin-left: 5%;
}
.forty-right {
    margin-left: 15%;
}
.white {
    color: #1a1a1a;
    background: #ebebeb;
    overflow: auto;
    width: 100%;
}
.wrapper {
    max-width:1000px;
    margin: auto;
    overflow: hidden;
    width: 100%;
}
.process-box{
    width:14%;
    margin: 2.4% 2.4% 0 0;
    background: #d6d6d6;
    float: left;
}
.process-img{
    width:80%;
    padding: 10%;
}
.border{
    background: grey;
    padding: .5%;
    width:70%;
    margin-left: 14.5%;
    overflow: hidden;
}
.border2{
    width:100%;
    background: #1a1a1a;
}
.animate{
    width: 40%;
    padding: 2%;
    margin-left: 27%;
}
.shadow{
    box-shadow: 0px 1px 7px -3px #1a1a1a;
}
.shadow-bottom{
    box-shadow: 0 3px 7px -4px #1a1a1a;
}
.float-right{
    float:right;
    padding: 0 .1em;
    margin: 0 .1em;
}
.mobile-hide{
    display:block;
}
.mobile-show{
    display:none;
}
#ewSafari{
    display: none;
}


/*hero*/
.hero {
    /* Sizing */
    background-size:100% 100%;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url('ohhh.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h2, .hero p {
    text-align: left;
    padding: 0;
    width:80%;
    margin-left: 20%;
}
.hero p {
    margin-bottom: .8em;
    font-size: 1em;
}
.hero h2{
    font-size: 2em;
}
.hero h2:hover, .hero p:hover{
    cursor: default;
}
/*slideshow*/
.mySlides {display:none}
.slide-left, .slide-right{
    user-select: none;
    cursor:pointer;
    margin-left: 42%;
    margin-right: 5.5%;
    width: 2%;
    float:left;
    font-size: 2em;
    margin-top: .1em;
}
.slide-right{
    margin-left:5.5%;
    margin-right: 0;
}
.slide-left:hover, .slide-right:hover{
    color:grey;
}
.description-text h2{
    font-size: 1.5em;
    line-height: 1.5em;
}


/*About Page*/
#me { 
    object-fit: cover;
    margin-bottom: -.2em;
    max-width: 550px;
}
#sent {
    opacity:1;
    transition:opacity 500ms;
    z-index: -1;
    position: absolute;
    width: 100%;
}
#mailTime{
    padding: 10em 20%;
    background: rgba(235, 235, 235, .9);
}
.sent-fade{
    opacity:0;
}
#contact h1{
    margin-left: 5%;
}
#contact h2{
    color:#cecece;
    font-weight: 400;
    font-size: .8em;
}

/*perrenial*/
.invision-box{
    width:70%;
    margin-left: 15%;
    overflow: hidden;
}
#invision{
    width:438px;
    height:930px;
    transform: scale(1);
}
.color-box{
    padding:1.3em 0 1.3em 0;
    overflow: hidden;
    box-shadow: 0px 1px 7px -3px #1a1a1a;
}
.color-box:last-child(4){
    padding-bottom: 4em;
}
.color-box p {
    color:#376251;  
    margin-left: 0;
    width:50%;  
    margin-left:0;
    float:left;
    line-height: 1.5;
}
.color-content{
    width:100%; 
    float:none;
    max-width:1000px;
    margin: auto;
}
.per-dark{
    background: #d6d6d6; 
    border-radius:10px;
}
.per-dark-s{
    background: #d6d6d6; 
}
.color-box h1 {
    color: rgba(0, 0, 0, .2); 
    font-size: .8em; 
    font-weight:800; 
    margin-left: 4.5%; 
    margin-bottom: 0;
}



/*root rocket*/
.root-bg {background:#ebebeb; font-family: 'Gill Sans','Gill Sans MT' , Calibri, sans-serif;}
.root-bg b{font-weight: 600;}
.per-bg{background:#ebebeb; font-family: 'Overpass', sans-serif;}
.root-bg p, .per-bg p{color:#1a1a1a;}
.root-color1{background:#2b8c59;}
.root-color5{background:#93bd73;}
.root-color2{background:#4a423f;}
.root-color3{background:#35302c;}
.root-color4{background:#a8a7a3;}
.root-color4 p, .explore-color6 p{color:#1a1a1a;}


/*explore ecology*/
.exp-bg{background:#eeede9;
    /* barlow-regular - latin */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
}
.exp-bg .process-box{background: #e3e2de;}
.exp-color-box, .problem-box, .amala-box {width:18%;float:left; margin:3.5%;}
.problem-box{
    border: solid #8cc363;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow:0px 0px 6px #5e5e5e;
    background: #ffffff;
}
#corn, #gluten, #leaf, #eggs, #list, #profile, #heb, #platelist{
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 95% 95%;
}
#list{background-image: url(Nutrish/list.svg);}
#profile{background-image: url(Nutrish/profile.svg);}
#heb{background-image: url(Nutrish/heb.svg);}
#eggs{background-image: url(Nutrish/eggs.svg);}
#leaf{background-image: url(Nutrish/leaf.svg);}
#corn{background-image: url(Nutrish/corn.svg);}
#gluten{background-image: url(Nutrish/gluten.svg);}
#platelist{background-image: url(Nutrish/platelist.svg);}

.explore-color6{background:#eae7d4;}
.explore-color1{background:#a3b060;}
.ee-colors{
    background-image: url("ExploreEcology/bg.jpg");
    background-position: right; 
    background-size: cover;
    background-repeat: no-repeat;
}

/*greenacres*/
#greenacres p, #greenacres h3, #greenacres li, #greenacres h4, #greenacres a{
    font-family: 'Open Sans', sans-serif;
}
#greenacres h3, #greenacres h2, #greenacres p b{
    font-family: 'Saira Extra Condensed', sans-serif;
}
#greenacres h2{
    font-size: 2em;
}
#greenacres p b{
    font-size: 1.4em;
}
#galogo{
    box-sizing: border-box;
    border: 20px solid #ebebeb;
    border-radius: 50%;
    padding: 0 !important;
}
/*nutrish*/
#nutrish p, #nutrish h3, #nutrish h2, #nutrish li, #nutrish h4, #nutrish a{
    font-family: 'Nunito', sans-serif !important;
}
.third{
    width:30%; margin-right:1.5%; margin-left:1.5%; float:left;
}
.nutrish-style{
    margin-top: 2em;
    padding-bottom:2em;
    background-color: #8cc363;
    
}

/*home page*/
.hero-inner{
    width:80%;
}
.tile, .tile-left{
    width:40%; 
    height:40%; 
    margin-left:10%; 
    float:left;
}
.tile{margin-left:0;}
.description{
    float:left; 
    background: #d6d6d6; 
    position:relative;
    
}
.description-mobile{ 
    float:left; 
    background: #d6d6d6; 
    position:relative;
    
}
.description-box{ 
    /*makes box the right height*/
    margin-top:100%; 
    background:#d6d6d6;
}
.description-text{
    position:absolute;
    top:0;
}
.tablet-show{
        display:none;
    }
.description-text p{
    margin: 0;
    padding: 0;
    margin-top:2em;
}
.description-text h2{
        margin: 0;
        padding: 0;
        width: 100%;
    }
.description-text{
        margin: 10% 0 0 10%;
        width: 80%;
    }

/*tablet*/
@media only screen and (max-width: 1100px) {
    #me{
        max-width: 700px;
        margin-left: -40%;
    }
    .wrapper {
        width:95%;
    }
    .process-box {
        width:20%;
        margin: 2.5% 1.75% 0 1.75%;
    }
    .problem-box li {
        list-style: none;
        padding: .2em;
        padding-left: 10%;
    }
    .border, .invision-box{
        width:80%;
        margin-left: 9%;
    }
    .animate{
        width: 60%;
        margin-left: 19%;
    }
    .color-box p{
        float: none; 
        width: 65%;
        margin-left:5%;
        padding: 0;
        padding-bottom: 1em;
    }
    .color-content{
        width:90%; 
        margin-left: 5%;
        float:left;
    }
    .slide-left, .slide-right{
    margin-left: 39%;
    margin-right: 7.5%;
}
    .slide-right{
        margin-left:7.5%;
    }
    .problem-box {
        width:42.5%;
        float:left;
        margin-right:4%;
    }
    .hero{
        background-attachment:scroll;
        height:45em;
    }
    .third{
    width:30%; margin-right:1.5%; margin-left:1.5%; float:left;
    }
    .tablet-show{
        display:block;
    }
    .description-text h2{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .description-text{
        margin: 10% 0 0 10%;
        width: 80%;
    }
}

/*When input is active on the about page, this keeps everything in mobile format*/
@media screen and (max-width: 400px){
    .fifty-hundred {
        width:100%;
        float:left;
    }
    .description-text p, .description-text h2{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .description-text h2{
        font-size: 1.4em;
        line-height: 1.3em;
        margin-bottom: .5em;
    }
    #me {
        width: 100%;
        margin-left: 0;
        max-width: none;
    }
    input, input:active, input:focus, textarea, textarea:active, textarea:focus {
        width: 90%;
    }
    textarea, textarea:active, textarea:focus{
        height: 6em;
    }
    .wrapper {
        max-width:none;
        width: 100%;
    }
    .hundred-ninety{
        width:90%; 
        margin-left: 5%;
        float:left;
        margin-top:1em;
    }
    .white {
        width: 90%;
        margin: auto;
    }
    p {
        padding:0em 1.5em 1.5em 10%;
        line-height: 1.75em;
    }
    .gap-medium{
        height:4em;
    }
    .gap-big{
        height: 4em;
    }
    .problem-box {
        width:42.5%;
        float:left;
        margin-right:4%;
    }
    .third{
        width:90%; 
        margin-left: 5%;
        float:left;
        margin-top:1em;
    }
}

/* Portrait */
@media screen and (orientation:portrait)
    /* Portrait styles */
{
    #mobile-indicator {
        display: block;
    }
    li{
        padding: 0em 1.5em 1.5em 10%;
    }
    .mobile-hide{
        display:none;
    }
    .problem-box li {
        padding: .2em;
        padding-left: 10%;
    }
    .mobile-show{
        display:block;
    }
    #logo-box{
        width: 7.5em;
    }
    .color-box .fifty-left, .forty-left{
        margin-left: 2.5%;
    }
    .color-box p{  
        width: 80%;
        padding: 20px 0;
        margin-left:8%;
    }
    .per-color1, .per-color2, .per-color3, .per-color4, .per-color5{
        background-size: 50%;
    }
    .border, .invision-box{
        width:90%;
        margin-left: 4.5%;
    }
    .animate{
        width: 80%;
        padding: 2%;
        margin-left: 6%;
    }
    #logoOne, #logoTwo, #logoThree, #logoFour {
        width:auto;
        max-width:240px;
        left: 50%;
        margin-left: -120px; /* Half of the width */
    }
    #me {
        width: 100%;
        margin-left: 0;
        max-width: none;
    }
    .process-box {
        width:30%;
        margin: 2.5% 1.66% 0 1.66%;
    }
    p {
        padding:0em 1.5em 1.5em 10%;
        line-height: 1.75em;
    }
    h2{
        margin-left: 10%;
    }
    .white {
    width: 90%;
    margin: auto;
    }
    .fifty-hundred {
    width:100%;
    float:left;
    }
    .wrapper {
        max-width:none;
        width: 100%;
    }
    #thirty-sixty, #galogo {
        display: block; 
        float: none; 
        width: 60%;
        padding: 20px 0;
        margin-left:20%;
    }
    .problem-box {
        width:42.5%;
        float:left;
        margin-right:4%;
    }
    .color-content h2{
        width: 90%;
    }
    #sketchpages, #fortyeight-ninety, #textswap, .hundred-ninety, .eighty-ninety, .fifty-right, .fifty-left, .skillsets, .sixty-ninety {
        width:90%; 
        margin-left: 5%;
        float:left;
        margin-top:1em;
    }
    #per-analysis{
        width:80%; 
        margin-left: 10%;
        float:left;
        margin-top:1em;
    }
    .gap-bottom {
        width:100%;
        height:3em;
        background: transparent;
    }
    .forty-left, .forty-right {
        width:80%; 
        margin-left: 10%;
        float:left;
    }
    .gap-medium{
        height:4em;
    }
    .gap-big{
        height: 4em;
    }
    #invision{
        width:438px;
        height:930px;
        transform: scale(.7);
        margin-left: -50%;
        margin-right: -50%;
    }
    input, input:active, input:focus, textarea, textarea:active, textarea:focus {
        width: 90%;
    }
    textarea, textarea:active, textarea:focus{
        height: 6em;
    }
}

